{% load static %}
{% if request.user.is_authenticated %}
  <form action="{% url 'logout' %}" method="POST" style="display:inline;">
    {% csrf_token %}
    <button type="submit">Logout</button>
  </form>
{% endif %}
{% if messages %}
  {% for message in messages %}
    <p>{{ message }}</p>
  {% endfor %}
{% endif %}
<h1>Book of the Month</h1>

{% if book %}
  <img src="{% static 'bookclub/images/jd.webp' %}" alt="book cover" style="width: 150px; height: auto;">
  <h2>{{ book.title }}</h2>
  <p>by {{ book.author }}</p>

  <p>{{ book.description }}</p>

  <p>
    ⭐ {{ book.average_rating|default:"No ratings yet" }}
  </p>
{% else %}
  <p>No book selected yet.</p>
  {% endif %}

<h3>Add Your Review</h3>
{% if existingReview %}
  <p>You Already Reviewed this book.</p>
{% else %}
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit Review</button>
    </form>
{% endif %}
  <h2>Member Reviews</h2>

{% for review in reviews %}
  <div>
    <strong>{{ review.user.username }}</strong>
    <p>Rating: {{ review.rating }}/5</p>
    <p>{{ review.content }}</p>
    <small>{{ review.created_at }}</small>
  </div>
{% empty %}
  <p>No reviews yet.</p>
{% endfor %}