{% load static %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile Edit</title>
  <link rel="stylesheet" href="{% static 'bookclub/css/styles.css' %}" type="text/css">
  <link rel="icon" href="/favicon.ico">
  <link rel="icon" href="{% static 'images/favicon.ico' %}">
  <script src="{% static 'bookclub/js/scripts.js' %}" defer></script>
</head>
<body>

{% if request.user.is_authenticated %}

  <nav class="nav">  
    <div class="nav-container">
      <a href="{% url 'book_home'%}" class="nav-logo">
        <img
         src="{% static 'bookclub/images/book_club_logo.svg '%}"
         alt="The Book Club Logo" 
         class="nav-logo-image">
         The Book Club
      </a>
<!-- 
      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %} -->

      <button 
        class="mobile-menu-btn"
        onclick="toggleMobileMenu()">
        <img
          src="{% static 'bookclub/images/book-closed.svg' %}"
          alt="Open Menu"
          class="menu-icon closed-book"
          id="closedBook"
        >

        <img
          src="{% static 'bookclub/images/book-open.svg' %}"
          alt="Close Menu"
          class="menu-icon open-book"
          id="openBook"
        >
      </button>
      <ul class="nav-links" id="mobileMenu">
        <li>
          <a href="{% url 'book_home' %}">Home</a>
        </li>
        <li>
          <a href="{% url 'timeline' %}">Timeline</a>
        </li>
        <li>
          <a href="{% url 'members' %}">Meet the Members</a>
        </li>

        <li>
          <a href="{% url 'forum'%}">
            Forum
          </a>
        </li>
        <li>
          <form action="{% url 'logout' %}" method="POST" class="btn-primary">
            {% csrf_token %} 
            <button type="submit" class="btn-text">Logout</button>
          </form>
        </li>
      </ul>
    </div>

</nav>
<div class="profile-edit">

{% if request.user.profile.profile_picture %}
    <img
        src="{{ request.user.profile.profile_picture.url }}"
        width="120"
        height="120"
        class="edit-profile-pic"
        alt="Profile pic"
    >
    <!-- "border-radius: 50%; object-fit: cover;" -->
{% else %}
    <img
        src="{% static 'bookclub/images/defaultusericon.svg' %}"
        width="120"
        height="120"
        class="edit-profile-pic"
        alt="default profile pic"
    >
{% endif %}

<section class="profile-edit-page">


    <header>Edit your profile</header>



    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <h2 class="profile-edit-title">Account info</h2>
        {{ user_form.as_p }}


        <h2 class="profile-edit-title">Profile Info</h2>
        {{ profile_form.as_p }}

        <button type="submit">Save Changes</button>
    </form>

{% endif %}
</section>
</div>
</body>
</html>

